<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>632718120757-isbqe3rsm7jgqp1lften5iks5k6vufk9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.632718120757-isbqe3rsm7jgqp1lften5iks5k6vufk9</string>
	<key>API_KEY</key>
	<string>AIzaSyBmFlyJzANmD4WqVDpYmaTUenLfjQvq8_U</string>
	<key>GCM_SENDER_ID</key>
	<string>632718120757</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.foodTracker</string>
	<key>PROJECT_ID</key>
	<string>foodtracker-81de8</string>
	<key>STORAGE_BUCKET</key>
	<string>foodtracker-81de8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:632718120757:ios:bb3ae914942a93206c1e7c</string>
</dict>
</plist>